/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.main {
  border: 1px solid black;
}
.todoBox {
  background-color: brown;
  height: 100px;
  color: white;
}

.list {
  background-color: white;

  color: black;
  border: 1px solid black;
}
.task {
  background-color: brown;

  color: white;

  border: 1px solid black;
}

.imput {
  width: 600px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
button {
  height: 40px;
}
